.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9bbfc0;
  height: 100vh;
}

.grid-container {
  display: flex;
  flex-direction: column;
  height: 960px;
  border: solid 2px black;
}

.grid-row {
  background: green;
  display: flex;
  width: 960px;
  height: 100%;
}

.grid-item {
  width: 100%;
  background: aqua;
}

.hovered {
  background: black;
}

.clear-grid {
  cursor: pointer;
  background-color: rgb(139, 139, 212);
  border-radius: 10px;
  border: solid grey 2px;
  font-size: 50px;
  margin-top: 15px;
}
